*{margin:0;padding:0;}
html{font-size:62.5%}
body{font-family:sans-serif;font-size:1.46em;background-color:white;color:#303030;margin:2em;line-height:100%;}
a:link,a:visited{color:blue}
a:hover{color:#07f}
img{border:solid 1px black}

h1{font-size:140%;margin-bottom:2em;text-align:center;color:#DF7C0B;}
.navi{font-size:130%;font-weight:bold;text-align:center;margin-bottom:2em;}

.menu{padding:1em;border:solid 1px #999;font-size:1.4rem;margin-bottom:3em;}
.menu li{line-height:140%}

.ct_main{margin-bottom:3em;border-left:solid 1px #449479;}
.ct_h{background-color:#F0FAF5;padding:7px 20px;font-size:110%;font-weight:bold;color:#355E51;
 border:double #449479;border-width:5px 0;}
.ct_txt{padding:2em 1em 1.5em 2em;line-height:150%;}

.subb_main{line-height:100%;margin-top:2.5em;}
.subb_h{font-weight:bold;padding:7px 15px;background-color:#585885;color:white;border-radius:6px 0 0 6px;}
.subb_txt{margin-left:20px;padding-top:1.5em;line-height:150%;}

.subh{font-size:130%;font-weight:bold;color:#795799;margin:0.5em 0 1em 0;}
.subh:before{content:'■ '}

em{font-style:normal;color:red;}
li{margin-left:2em;margin-bottom:5px;line-height:170%;}

table{border-collapse:collapse;background-color:white;}
td,th{padding:5px 6px;line-height:150%;border:solid 1px #666;}
th{background-color:#ddd;text-align:left;white-space:nowrap;}

pre{font-family:monospace;padding:6px;line-height:140%;}
.pre1{background-color:#555;color:white;}
.pre2{background-color:#F2F7FF;color:#112;border:solid 1px #4E508A;}

.ch{font-family:monospace;background-color:#e8e8e8;color:black;padding:2px 4px;line-height:100%;border:solid 1px #666;display:inline-block;
 border-radius:3px;}

.def{background-color:#e0e0e0;padding:5px;border:solid 1px #666;color:black;display:inline-block;line-height:100%;}
.def::before{content:'デフォルト = '}

.cau{padding:5px 5px 5px 8px;border:solid #FF3F8E;border-width:1px 1px 1px 3px;color:#C0004F;}

#jmenu_icon,#jmenu{position:fixed;right:0;top:0;background-color:black;color:white;padding:6px 10px 6px 6px;font-size:1.4rem;}
#jmenu_icon{cursor:pointer}
#jmenu{line-height:150%}
#jmenu a:link,#jmenu a:visited{color:white;text-decoration:none;}
#jmenu a:hover{color:#FFD8E4;text-decoration:none;}

input{padding:3px}
